* {
    margin: 0;
    padding: 0;
}

body {
    background: url(ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }

/*Header Start*/
.header {
    background-color: rgba(97, 95, 95, 0.514);
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.header .title h1 {
    color: aquamarine;
}

.header .title h1 span {
    color: black;
}

.header .nav ul li {
    list-style-type: none;
}

.header .nav ul li a {
    text-decoration: none;
    margin-right: 10px;
    color: aquamarine;
    font-size: 25px;
}

.header .nav ul li a:hover {
    color: black;
    cursor: pointer;

}

/*Header End*/

/*Main Start*/
.main {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .info {
    height: 100%;
    max-width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main .info h1 {
    color: rgb(207, 100, 23);
}

.main .info p {
    color: gray;
    line-height: 35px;
    letter-spacing: 1px;
}

.main .info p b {
    color: brown;
    text-transform: capitalize;
}

.main .info button {
    border: none;
    background-color: brown;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main .info button:hover {
    background-color: rgba(165, 42, 42, 0.654);
}

/*Main End*/

/*Table Start*/
.table-container {
    width: 80%;
    margin: 20px auto;
  }
  
  .table-container table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 8px;
    border: 1px solid gray;
  }
  th {
    background-color: rgb(110, 103, 103);
  }
/*Table End*/

/*Form Start*/
.form-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 100px;
    background-color: #bbbaba;
  }
  
  label {
    font-weight: bold;
  }
  #ad,
  #email,
  textarea {
    width: 99%;
    padding: 10px;
    border: 1px solid rgb(137, 39, 39);
    border-radius: 5px;
  }
  
  .btn {
    background-color: rgb(18, 40, 55);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: aquamarine;
    color: black;
  }
  /*Form End*/

  /*Footer Start*/
  .footer {
    background-color: #333;
    color: white;
    height: 110px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*Footer End*/

  /*Responsive*/
  @media (max-width: 800px) {
    .header .nav {
      display: none;
    }

  }